div
{
    font-family: sans-serif;
}
.text-cont
{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size:100px;
}
#text_cont1
{
    z-index: 10;
    opacity: 0.6;
}
#text_cont2
{
    z-index: 100;
    opacity: 0.4;
}
.text-shadow
{
    transition:2100ms;
}
#text_shadow1
{
    transform:translateX(-10%);
}
#text_shadow2
{
    transform:translateX(10%);
}
